.category.name {
    -fx-background-color: #d3c8e0;
    -fx-font-size: 18;
    -fx-text-fill: #9c6cc9;
}
.category.pane {
    -fx-background-color: #d3c8e0;
    -fx-border-color: #927bb4;
    -fx-border-width: 3px 0px 3px 0px;
}

.myLabel {
    -fx-background-color: #d3c8e0;
    -fx-font-size: 18;
    -fx-text-fill: #9c6cc9;
    -fx-border-color: #927bb4;
    -fx-border-width: 3px 0px 3px 0px;
    -fx-padding: 0px 5px 0px 5px;
}

.text {
    -fx-background-color: #e4d9f1;
    -fx-font-size: 16;
    -fx-text-fill: #b83dbd;
    -fx-border-color: #927bb4;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-padding: 5px 5px 0px 5px;

}

.box {
    -fx-border-color: #927bb4;
    -fx-border-width: 0px 2px 3px 2px;
}

.myList {
    -fx-border-color: #927bb4;
    -fx-border-width: 3px 2px 0px 0px;
}