.check{
    -fx-background-color: #DFC3E6;
}

.category{
    -fx-border-color: #A44FB9;
}

.label {
    -fx-font-size: 18;
    -fx-text-fill: #9c6cc9;
    -fx-border-color: #927bb4;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-padding: 0px 5px 0px 5px;
}

.text {
    -fx-font-size: 16;
    -fx-text-fill: #b83dbd;
    -fx-border-color: #b589c0;
    -fx-border-width: 0px 2px 2px 2px;
    -fx-padding: 5px 5px 0px 5px;

}